.container{
    display:flex;
}
.left {
    display:flex;
    flex-direction:column;
    margin-top: 10px;
}

.left h2 {
    font-family: 'Petit Formal Script', cursive;
    color: #C70039;
    width:fit-content;
    font-size:1.5rem;
    border-bottom:3px solid #C70039;
    letter-spacing:5px;
    margin:20px 0;
}
.left p {
    font-family: 'Petit Formal Script', cursive;
    font-size:1.2rem;
    color: #F79327;
    margin:16px 0  ;
}
.left span {
    margin-bottom:20px;
    text-align:justify;
    line-height: 2;
    color: #000;
}
.left a {
    margin-top:10px;
    width: fit-content;
    border: 1px solid #B70404;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #B70404;
    color: #fff;
}
.right img{
    width:500px
}

@media (max-width: 900px) {
    .right img {
      width: 350px;
    }
    .left {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column-reverse;
    }
    .right {
      text-align: center;
    }
    .right img {
      width: 90%;
    }
    .left {
        align-items:center;
        text-align: center;
        margin: 20px auto;
    }
    .left span {
        text-align: center;
    }
  }