.container {
    margin-top: 100px;
}

.container h3 {
    font-size: 1.5rem;
    color: #C70039;
    margin: 24px 0;
  }
.container p {
    margin: 20px 0 50px;
    color:#000; 
    line-height:2.5;
    text-align: justify;
    font-size: 1.1rem;
  }